# User exclusions
.other_people_lua/
log/
lua/VaultSave_Phantom_Portal/Plugin-making/.log
lua/VaultSave_Phantom_Portal/Plugin-making/dmp
re9_dump/

# Lua
*.luac

# C++ / CMake
build/
out/
*.exe
*.dll
*.lib
*.pdb
*.obj
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
*.ilk
*.exp
compile_commands.json



